
@*
   _DefaultServiceComponentPartial
*@
<div class="container-fluid service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Hizmetlerimiz</h4>
            <h1 class="display-4 mb-4">Size En İyi Hizmeti Sunuyoruz</h1>
            <p class="mb-0">
                Hayatın her alanında karşılaşabileceğiniz risklere karşı yanınızdayız. Geniş kapsamlı sigorta paketlerimizle, sizin ve sevdiklerinizin geleceğini bugünden güvence altına alıyoruz.
            </p>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/LifeSure-1.0.0/img/blog-1.png" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-users fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-4">Hayat Sigortası</a>
                            <p class="mb-4">Sevdiklerinizin geleceğini şimdiden garanti altına alın. Beklenmedik durumlara karşı finansal güvence sağlayın.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/LifeSure-1.0.0/img/blog-2.png" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-hospital fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-4">Sağlık Sigortası</a>
                            <p class="mb-4">En iyi hastanelerde, sıra beklemeden kaliteli sağlık hizmeti alın. Sağlığınız bizim için her şeyden önemli.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/LifeSure-1.0.0/img/blog-3.png" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-car fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-4">Araç Sigortası</a>
                            <p class="mb-4">Yolda kalmayın. Aracınızı kaza, hırsızlık ve her türlü hasara karşı tam kapsamlı kasko ile koruyun.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.8s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="~/LifeSure-1.0.0/img/blog-4.png" class="img-fluid rounded-top w-100" alt="">
                        <div class="service-icon p-3">
                            <i class="fa fa-home fa-2x"></i>
                        </div>
                    </div>
                    <div class="service-content p-4">
                        <div class="service-content-inner">
                            <a href="#" class="d-inline-block h4 mb-4">Konut Sigortası</a>
                            <p class="mb-4">Eviniz yuvanızdır. Yangın, deprem ve hırsızlığa karşı evinizi ve eşyalarınızı güvence altına alın.</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">Devamını Oku</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.2s">
                <a class="btn btn-primary rounded-pill py-3 px-5" href="#">Tüm Hizmetler</a>
            </div>
        </div>
    </div>
</div>