@model CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
}

<form method="post" asp-action="CreateCategory" asp-controller="Category">
    <div class="mb-3">
        <label class="form-label">Kategori Adı</label>
        <input type="text" class="form-control" asp-for="@Model.CategoryName" required placeholder="Kategori adını giriniz..." />
    </div>

    <div class="mb-3">
        <label class="form-label">Kategori Açıklaması</label>
        <input type="text" class="form-control" asp-for="@Model.Description" required placeholder="Açıklama giriniz..." />
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>
