@model ResultBannerDto
@*
   _DefaultBannerComponentPartial
*@

<div class="header-carousel owl-carousel">
    <div class="header-carousel-item bg-primary">
        <div class="carousel-caption">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-7 animated fadeInLeft">
                        <div class="text-sm-center text-md-start">
                            <h4 class="text-white text-uppercase fw-bold mb-4">LifeSure'a Hoş Geldiniz</h4>
                            <h1 class="display-1 text-white mb-4">@Model?.Title</h1>

                            <p class="mb-5 fs-5">
                                @Model?.Description
                            </p>

                            <div class="d-flex justify-content-center justify-content-md-start flex-shrink-0 mb-4">
                                @if (!string.IsNullOrEmpty(Model?.VideoUrl))
                                {
                                    <a class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2" href="@Model.VideoUrl" target="_blank">
                                        <i class="fas fa-play-circle me-2"></i> Videoyu İzle
                                    </a>
                                }
                                <a class="btn btn-dark rounded-pill py-3 px-4 px-md-5 ms-2" href="/About/Index">Daha Fazla Bilgi</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 animated fadeInRight">
                        <div class="calrousel-img" style="object-fit: cover;">
                            <img src="~/LifeSure-1.0.0/img/carousel-2.png" class="img-fluid w-100" alt="@Model?.Title">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>