@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4">Sistem Hatası</h4>
    </div>
</div>

<div class="container-fluid bg-light py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="far fa-frown-open display-1 text-primary mb-4"></i>
                <h1 class="display-1">Hata!</h1>
                <h3 class="mb-4">İşleminiz gerçekleştirilemedi.</h3>
                <p class="mb-4">Şu an teknik bir sorun yaşıyoruz. Lütfen daha sonra tekrar deneyiniz.</p>

                @if (Model.ShowRequestId)
                {
                    <div class="alert alert-secondary">
                        <strong>Hata Takip ID:</strong> <code>@Model.RequestId</code>
                    </div>
                }

                <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Ana Sayfaya Dön</a>
            </div>
        </div>
    </div>
</div>

