@model List<ResultFeatureDto>
@*
    _DefaultFeatureComponentPartial
*@

<div class="container-fluid feature bg-light py-5">
    <div class="container py-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Neden Bizi Seçmelisiniz?</h4>
            <h1 class="display-4 mb-4">Sigorta Size Daha İyi Bir Gelecek Sunar</h1>
            <p class="mb-0">
                Hayatın sürprizlerine karşı hazırlıklı olun. LifeSure olarak, sizin ve sevdiklerinizin geleceğini güvence altına almak için en kapsamlı ve güvenilir çözümleri sunuyoruz.
            </p>
        </div>
        <div class="row g-4">
            @{
                int i = 0;
                string[] icons = { "far fa-handshake", "fa fa-dollar-sign", "fa fa-bullseye", "fa fa-headphones" };
                string[] delays = { "0.2s", "0.4s", "0.6s", "0.8s" };
            }

            @foreach (var item in Model)
            {
                string currentIcon = icons[i % icons.Length];
                string currentDelay = delays[i % delays.Length];

                <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="@currentDelay">
                    <div class="feature-item p-4 pt-0">
                        <div class="feature-icon p-4 mb-4">
                            <i class="@currentIcon fa-3x"></i>
                        </div>
                        <h4 class="mb-4">@item.Title</h4>
                        <p class="mb-4">
                            @item.Description
                        </p>
                        <a class="btn btn-primary rounded-pill py-2 px-4" href="/Feature/Index">Detaylı Bilgi</a>
                    </div>
                </div>

                i++;
            }
        </div>
    </div>
</div>